.developer-area{
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1240px;
    margin: auto;
}

.profile-item {
    padding-top: 30px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}